@font-face {
    font-family: 'Bygonest';
    src: url("/thingsUsed/bygonesttypewriterdemo-4b1dp-webfont.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'X-typewriter';
    src: url("/thingsUsed/xtypewriter-regular-webfont.woff");
    font-weight: normal;
    font-style: normal;
}
:root {
    --bg-color: #0f1923;
    --text-color: #e0e0e0;
    --accent-color: #b57433;
    --tech-color: #ffcc00;
    --danger-color: #ff5555;
    --secret-color: #0da17f;
    --font-main: 'Bygonest', serif;
    --font-ui: 'Bygonest, serif';
    --text-font: 'X-typewriter';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main), serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/thingsUsed/bg.png");
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-size: cover;
    background-position: center;
}


.fog-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png') repeat-x;
    background-size: cover;
    opacity: 1.0;
    animation: fogMove 60s linear infinite;
    z-index: -1;
    pointer-events: none;
    filter: brightness(2.5) contrast(1.2);
}

.fog-back{
    opacity: 0.8;
    animation: fogMove 60s linear infinite;
    filter: brightness(1.5) ;
}
.fog-front{
    opacity: 0.6;
    animation: fogMove 60s linear infinite;
    z-index: 1;
    filter: brightness(2.5);
}
@keyframes fogMove {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
}


.main-intro{
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: relative;
}
.game-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
    background: rgba(0, 0, 0, 0.13);

    padding: 40px;
    border: 1px solid #333;
    border-top: 4px solid var(--accent-color);
    box-shadow: 0 0 30px rgba(0,0,0,0.9);
    text-align: left;
    position: relative;
    z-index: 20;
    max-height: 85vh;
    overflow-y: auto;
}


h1 {
    font-family: var(--font-main), serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-top: 0;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

p{
    font-family: var(--text-font);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.radio-msg{
    font-family: var(--font-main), system-ui;
    color: var(--tech-color);
    background: rgba(255, 204, 0, 0.05);
    border-left: 3px solid var(--tech-color);
    padding: 15px;
    margin: 25px 0;
    font-size: 0.95rem;
    text-shadow: 0 0 5px rgba(255, 204, 0, 0.4);
}

.hub-text {
    font-family: var(--text-font);
    font-size: 0.95rem;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 15px;

}
.status-danger {
    color: var(--danger-color);
    text-shadow: 0 0 5px var(--danger-color);
}
.status-stable{
    color: var(--secret-color);
    text-shadow: 0 0 5px var(--secret-color);
}


.choice-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.choice-container .btn {
    font-family: var(--text-font);
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 18px 25px;
    border-color: var(--accent-color);
    color: var(--accent-color);
    border-radius: 10px;
}

.choice-container .btn:hover {
    background: var(--accent-color);
    color: var(--bg-color);
}
.btn {
        display: block;
        background: transparent;
        border: 1px solid #555;
        color: var(--text-color);
        padding: 12px 20px;
        text-decoration: none;
        font-family: var(--font-ui);
        font-size: 1rem;
        transition: all 0.3s ease;
        text-align: center;
        text-transform: none;
}
.btn:hover{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}
.btn-abort{
    border-color: var(--danger-color);
    color: var(--danger-color);
    opacity: 0.7;
}
.btn-abort:hover{
    background: var(--danger-color);
    color: #fff;
    opacity: 1;
    box-shadow: 0 0 15px var(--danger-color);
}
.secert-text{
    color: transparent;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    cursor: help;
    transition: all 0.5s ease;
}
.secert-text:hover{
    color: var(--secret-color);
    text-shadow: 0 0 8px var(--secret-color);
}

@keyframes pulse {
    0%{
        opacity: 1;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
    50%{
        opacity: 0.7;
        border-color: var(--accent-color);
        box-shadow: 0 0 15px rgba(212, 163, 115, 0.7);
    }
    100%{
        opacity: 1;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
}
.btn-pulse{
    animation: pulse 3s infinite ease-in-out;
}
.btn-pulse:hover{
    animation: none;
    opacity: 1;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0 0 20px var(--accent-color);
}

audio{
    display: none;
}




.zone{
    position: absolute;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 10;
}

#intro-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background-color: #000; z-index: 9999;
    display: flex; justify-content: center; align-items: center;
    transition: opacity 1s ease-in-out;
}
.hidden { opacity: 0; pointer-events: none; }


.story-toggle {
    display: none;
}

.hidden-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.story-toggle + .hidden-content{
    display: none;
}
.story-toggle:checked + .hidden-content {
    display: block;
    animation: fadeIn 0.8s forwards;
}

.story-toggle:checked + .hidden-content .story-block .next-btn {
    display: none;
}



@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.next-btn {
    color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}
.next-btn:hover {
    color: #fff;
    text-shadow: 0 0 5px var(--accent-color);
}
#comp-screen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reveal-1:checked ~ .audio-control {
    display: block;
}

.handwritten-note {
    font-family: var(--font-main), serif;
    color: #ccc;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    text-align: center;
    padding-left: 15px;
    font-style: italic;
    margin: 15px 0;
}

.clue-item {
    border: 1px solid var(--accent-color);
    background: rgba(212, 163, 115, 0.1);
    padding: 15px;
    color: darkgoldenrod;
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
    letter-spacing: 2px;

}

.glitch-text {
    font-family: var(--font-main), Serif;
    color: #ff0000;
    text-shadow: 2px 0 #fff, -2px 0 #000;
    font-weight: bold;
    letter-spacing: 3px;
}