:root {
    --bg-color: #0f1923; /* Dark Midnight Blue */
    --text-color: #e0e0e0; /* Off-white */
    --accent-color: #d4a373; /* Faded Gold */
    --secret-color: #64ffda; /* Ghostly Cyan */
    --font-main: 'Georgia', serif;
    --font-ui: 'Courier New', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #091016, #1b2e38);
    z-index: -2;
    background-size: cover;
    background-position: center ;
}

.fog-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png') repeat-x;
    background-size: contain;
    opacity: 0.3;
    animation: fogMove 60s linear infinite;
    z-index: -1;
    pointer-events: none;
}
@keyframes fogMove {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
}
.game-container{
}